@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    user-select: none;
}

.active{
    color: #0898E7 !important;
    background-color: white !important;
}